html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  font: 14px 'Lato', sans-serif;
  height: 100%;
  background-color: #d8d9e2
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

body > .container-fluid {
  padding: 60px 15px 0;
}

.container-fluid .text-muted {
  margin: 20px 0;
}

input {
  font-family: monospace;
}

.well-success {
  background: #3eb393;
}

.well-error {
  background: #e44747;
}

.navbar-inverse {
    background: #d8d9e2;
    border: 0px;
    font-weight: bold;
}

.nav>li.active {
    border-left: 3px solid #7908ff;
    color: #373744;
    text-shadow: none;
}

.nav>li,
.navbar-inverse .navbar-nav>li>a {
    color: #A5A7AF;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #A5A7AF;
    background: none;
    text-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #d8d9e2;
    color: #373744;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-brand:hover {
    color: #373744;
}
